<mat-toolbar color="primary">
  <mat-toolbar-row>

    <a routerLink="/home">
      <img src="assets/images/logo.png" class="logo" alt="application logo">
    </a>

    <div [routerLink]="['/']" class="clickable-title">
      Culture Platforms
    </div>

    <span class="example-spacer"></span>

    <button *ngIf="!isAuthenticated" mat-icon-button aria-label="Login" [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </button>

    <button *ngIf="isAuthenticated" mat-icon-button aria-label="Login" [routerLink]="['/profile']">
      <mat-icon>person</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
