<form [formGroup]="signInForm" (ngSubmit)="onSubmit()" class="register-form">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput id="email" type="email" formControlName="email"/>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput id="password" type="password" formControlName="password"/>
      </mat-form-field>

      <div class="register-link">
        <span>No account? <a (click)="navigateToRegister()">Register!</a></span>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </mat-card>
</form>
