<div class="header-section">
  <h2>{{ culture }} Culture!</h2>
  <div class="action-buttons">
    <button
      mat-raised-button
      color="primary"
      (click)="subscribe()"
      [disabled]="isCultureSubscribedByUser">
      {{ isCultureSubscribedByUser ? 'Subscribed' : 'Subscribe' }}
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="createEvent()">
      Create Event
    </button>
    <button
      mat-raised-button
      color="accent"
      (click)="createArticle()">
      Create Article
    </button>
  </div>
</div>


